*.au3
*.bat
_WorkDir/*
.idea/*
venv/*
Include/*
Lib/*
Scripts/*
__pycache__/*
**/__pycache__/
__pycache__
*/__pycache__/*
chess/__pycache__/*
chess/requirements.txt
chess/data/playersbkp.json
chess/data/playersbkp.json
chess/data/reports/*
chess/data/tournaments/*
chess/data/tournaments.json
chess/data/pending_tournament.json
chess/data/players.json
chess/data/registered.json
chess/venv/*
